@import url('https://fonts.googleapis.com/css2?family=Abel&family=Acme&family=Assistant:wght@200;300&family=Baloo+2&family=Cairo:wght@200;600&family=Caveat:wght@400;700&family=Comforter+Brush&family=Exo+2:wght@100;300&family=Indie+Flower&family=Inter:wght@100;500&family=Lato:wght@100;400&family=M+PLUS+1:wght@100;400&family=M+PLUS+2:wght@100;500&family=M+PLUS+Code+Latin:wght@100;400&family=Merriweather:wght@300;700&family=Open+Sans:wght@300;600&family=Roboto+Slab:wght@100;400&family=Signika:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@800&display=swap');
:root
{
    --primary-cor:#409C32;
    --secondary-cor:#265C1D;
    --three-cor:#59DB46;
    --four-cor:#5FE84A;
    --five-cor:#50C23E;
    --gold-cor:#FFC857;
    --charcoal-cor:#2E4052;
    --purple-cor:#412234;
    --green-cor:#BDD9BF;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    background-color: var(--charcoal-cor);
    /* background-image: url('https://cdn.pixabay.com/photo/2021/12/07/14/00/river-6853339_960_720.jpg'); */
    /* background-position: 50% 70%; */
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Inconsolata',sans-serif;
    color: white;
    /* font-weight: 800;  */
    /*display: flex;          /*coloca tudo em linha*/
    /*flex-direction: column; /*coloca tudo em coluna*/
    /*align-items: center;    /*alinha horizontalmente*/
    /*justify-content: center;/*alinha tudo verticalmente com uso de height:100vh*/
    /* height: 100vh; */
    /*overflow: hidden; /*BARRA DE SCROLL DOWN, HIDDEN ESCONDIDA*/
    /* margin: 0; */
    overflow-x: hidden; /*REMOVER BARRA DE SCROLL HORIZONTAL*/
}

input{
    display: block;
    height: 55px;
    width: 400px;
    margin: 10px;
    border-radius: 30px;
    border: 1px solid black;
    font-size: 16pt;
    padding: 10px 20px 10px 20px;
    background-color: rgba(255,255,255, 0.5); /*BRANCO COM TRANSPARÊNCIA 0.1*/
    outline: none; /*border que aparece ao seleccionar*/
}

input[type=submit]{
    background-color: var(--four-cor);
    border: none;
    cursor: pointer;
}

/* //PLACEHOLDER EXAMPLE */

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #000;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #000;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #000;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #000;
}

div#formBody{
    /* background-color: var(--charcoal-cor); */
    
    width: 460px;
    margin: 130px auto 0px auto;/*CENTRALIZAR A DIV*/
    padding: 20px;
    border-radius: 5px;
}
div#formBodyReg{
    width: 460px;
    margin: 80px auto 0px auto;/*CENTRALIZAR A DIV*/
    padding: 20px;
    border-radius: 5px;
}

div#formBody h1,div#formBodyReg h1{
    text-align: center;
    padding: 20px;
}

a.reg{
    color: var(--green-cor);
    text-decoration: none;
    display: block;/*COLOCAR display:block TAG <a> POR DEFEITO É  display:inline, para usar text-align:center*/
    text-align: center;
}
a.reg:hover{
    text-decoration: underline;
}


/*estilos do footer */

footer {
    font-family: 'Lato';
    background-color: orange;
    padding-bottom: 0.1rem;
}

.logo{
    width: 150px;
    height: auto;
    border-radius: 50%;
}

div#msgSuc{
    width: 420px;
    margin: 10px auto;
}

div.msgE{
    width: 420px;
    margin: 10px auto;
}


